@import "tailwindcss";

:root {
  /* default color */
  --color-default-white: oklch(92% 0.004 286.32); /* Zinc-200 */
  --color-default-white-hover: oklch(87.1% 0.006 286.286); /* Zinc-300 */
  --color-default-white-popover: oklch(98.5% 0 0); /* Zinc-50 */
  --color-default-black: oklch(27.4% 0.006 286.033); /* Zinc-800 */
  --color-default-black-hover: oklch(37% 0.013 285.805); /* Zinc-500 */
  --color-default-black-popover: oklch(21% 0.006 285.885); /* Zinc-900 */
  ---color-default-red: oklch(71.2% 0.194 13.428); /* Rose-400 */

  /* light color */
  --color-canvas: oklch(98.5% 0.002 247.839); /* Gray-50 */
  --color-glass: oklch(13% 0.028 261.692); /* Gray-950 */
  --color-text-base: var(--color-default-black);
  --color-text-hover: var(--color-default-black-hover);
  --color-text-label: var(--color-default-black);
  --color-bg-base: var(--color-default-white);
  --color-bg-hover: var(--color-default-white-hover);
  --color-border-base: var(--color-default-black);
}

.dark {
  --color-canvas: oklch(13% 0.028 261.692); /* Gray-950 */
  --color-glass: oklch(98.5% 0.002 247.839); /* Gray-50 */
  --color-text-base: var(--color-default-white);
  --color-text-hover: var(--color-default-white-hover);
  --color-text-label: var(--color-default-white);
  --color-bg-base: var(--color-default-black);
  --color-bg-hover: var(--color-default-black-hover);
  --color-border-base: var(--color-default-white);
}

html {
  background-color: var(--color-canvas);
}

@theme {
  --*: initial;
  --color-white: var(--color-default-white);
  --color-black: var(--color-default-black);
  --color-red: var(--color-default-red);
  --color-primary: oklch(58.8% 0.158 241.966);
  --color-primary-hover: oklch(68.5% 0.169 237.323);
  --color-success: oklch(58.8% 0.158 241.966);
  /* --color-error: oklch(79.5% 0.184 86.047); */

  --spacing-0: 0;
  --spacing-1: 1px;
  --spacing-sm: 6px;
  --spacing-md: 10px;
  --spacing-lg: 16px;
  --spacing-xl: 26px;

  --radius-base: 1rem;

  --text-sm: 0.875rem;
  --text-md: 1rem;
}

@utility text-base {
  color: var(--color-text-base);
}

@utility text-hover {
  color: var(--color-text-hover);
}

@utility text-label {
  color: var(--color-text-label);
}

@utility bg-base {
  background-color: var(--color-bg-base);
}

@utility bg-hover {
  background-color: var(--color-bg-hover);
}

@utility bg-canvas {
  background-color: var(--color-canvas);
}

@utility border-base {
  border-color: var(--color-text-base);
}
